@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/fontsource/fonts/montserrat@latest/latin-500-normal.woff2")
    format("woff2");
}
body {
  font-family: "Montserrat", sans-serif;
}
hydration-status {
  display: none;
}
@theme {
  --font-sans: "Montserrat";
}

@theme {
  --color-dark-gray: #3c3c3c;
  --color-green: #2e8942;
  --color-navy: #1a2e46;
  --color-gray: #5b5b5b;
  --color-red: #ec1e24;
  --color-light-gray: #cfcfcf;
  --color-black: #000000;
  --color-white: #ffffff;
}

@theme {
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 48px;
  --text-4xl: 60px;
}

@theme {
  --leading-tight: 12px;
  --leading-normal: 16px;
  --leading-relaxed: 24px;
  --leading-loose: 36px;
  --leading-extra-loose: 48px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
