@import "tailwindcss";

/* @font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("../css/Font/Montserrat-Regular.ttf") format("truetype");
} */
body {
  font-family: "Montserrat", sans-serif;
}
@theme {
  --font-sans: "Montserrat";
}

@theme {
  --color-dark-gray: #3c3c3c;
  --color-green: #2e8942;
  --color-navy: #1a2e46;
  --color-gray: #5b5b5b;
  --color-red: #ec1e24;
  --color-light-gray: #cfcfcf;
  --color-black: #000000;
  --color-white: #ffffff;
}

@theme {
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 48px;
  --text-4xl: 60px;
}

@theme {
  --leading-tight: 12px;
  --leading-normal: 16px;
  --leading-relaxed: 24px;
  --leading-loose: 36px;
  --leading-extra-loose: 48px;
}
